.game-area {
  width: 60vmin;
  height: 60vmin;
  background-color: #dc2626;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
}

.game-header {
  position: absolute;
  top: 0.75rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}

.game-title {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.game-instructions {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.game-score {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.target {
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: #f87171;
  border-radius: 9999px;
  border: 2px solid #ffffff;
}

.player {
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 0.25rem;
}
