.game-area {
  width: 60vmin;
  height: 60vmin;
  background-color: #333f58;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
}

.game-score {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.target {
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: #292831;
  border-radius: 9999px;
  border: 2px solid #ffffff;
}

.player {
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: #fbbbad;
  border-radius: 0.25rem;
}
