.media-container {
  width: 60vmin;
  height: 60vmin;
  border-radius: 0.5rem;
  background-color: #2563eb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.media-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.dot-grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 0.75rem;
}

.dot-image {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
}

.media-text {
  color: #ffffff;
}

.video-grid {
  display: grid;
  width: 100vmin;
  margin-top: 5rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
}

.video-frame {
  grid-row: 1;
  width: 100%;
  border-radius: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.video-inner {
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: 0.5rem;
}

.Video0,
.Video1,
.Video2 {
  grid-row: 2;
  height: 20vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.videoTitle {
  color: #ffffff;
  font-size: 1.5rem;
}
