.game-content {
  display: flex;
  height: 80%;
  width: 80%;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.game-area {
  width: 400px;
  height: 400px;
  background-color: #333f58;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.game-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 2%;
  flex-shrink: 0;
}

.game-score {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.logoImage {
  height: 15vmin;
  align-items: start;
}

.pushImage {
  border-radius: 0.35rem;
}

.target {
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: #292831;
  border-radius: 9999px;
  border: 2px solid #ffffff;
}

.player {
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: #fbbbad;
  border-radius: 0.25rem;
}

@media (max-width: 1080px) {
  .game-content {
    flex-direction: column;
  }
}
