.game-content {
  display: flex;
  height: 80%;
  width: 80%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
  gap: 2rem;
}

.game-area {
  width: 350px;
  height: 350px;
  background-color: #d7ac64;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.game-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  flex-shrink: 0;
  gap: 1rem;
}

.game-score {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.5rem;
  line-height: 1.25rem;
}

.logoImage {
  height: 20vmin;
  align-items: start;
}

.pushImage {
  border-radius: 0.35rem;
}

.target {
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: #1e110c;
  border-radius: 9999px;
  border: 2px solid #ffffff;
}

.player {
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: #d65709;
  border-radius: 0.25rem;
}

@media (max-width: 1080px) {
  .game-content {
    flex-direction: column;
  }

  .game-area {
    width: 250px;
    height: 250px;
  }
}
