.navbar-header {
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-nav {
  display: flex;
  height: 100%;
  width: 20%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.navbar-link {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.1rem;
  padding-bottom: 0.25rem;
  border-radius: 0.25rem;
  color: #9ca3af;
}

.navbar-link.active {
  color: #ffffff;
  font-weight: 600;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  flex-shrink: 0;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media (max-width: 1080px) {
  .right {
    flex-wrap: wrap;
  }
}
